<div class="pacientes container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">Lista de Pacientes</h2>

      <table
        class="table table-striped table-pacientes custom-scrollbar"
        *ngIf="pacientes.length > 0"
      >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>RUT</th>
            <th>Teléfono</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientes">
            <td>{{ paciente.nombrePaciente }}</td>
            <td>{{ paciente.apellidoPaciente }}</td>
            <td>{{ paciente.edad }}</td>
            <td>{{ paciente.rut }}-{{ paciente.dv }}</td>
            <td>{{ paciente.telefono }}</td>
            <td class="flex justify-end gap-2">
              <button class="btn btn-sm btn-primary" (click)="openModal('view', paciente)">
                Ver Detalles
              </button>

              <button class="btn btn-sm btn-warning" (click)="openModal('edit', paciente)">
                Editar
              </button>

              <button class="btn btn-sm btn-danger" (click)="openModal('delete', paciente)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!loadingData && pacientes.length === 0">
        <div class="alert alert-info text-center mt-3">
          No se encontraron pacientes para mostrar.
        </div>
      </div>

      <div *ngIf="loadingData" class="alert alert-info text-center mt-3">
        Cargando datos iniciales...
      </div>
    </div>
  </div>
  <app-modal
    [isOpen]="isModalOpen"
    [title]="
      modalMode === 'view'
        ? 'Detalles del paciente'
        : modalMode === 'edit'
        ? 'Editar paciente'
        : 'Eliminar paciente'
    "
    [showFooter]="modalMode !== 'view'"
    (close)="closeModal()"
    (confirm)="confirmAction()"
  >
    <!-- VER DETALLES -->
    <div *ngIf="modalMode === 'view'">
      <p><strong>Nombre:</strong> {{ selectedPaciente?.nombrePaciente }}</p>
      <p><strong>Apellido:</strong> {{ selectedPaciente?.apellidoPaciente }}</p>
      <p><strong>RUT:</strong> {{ selectedPaciente?.rut }}-{{ selectedPaciente?.dv }}</p>
      <p><strong>Edad:</strong> {{ selectedPaciente?.edad }}</p>
      <p><strong>Teléfono:</strong> {{ selectedPaciente?.telefono }}</p>
    </div>

    <!-- EDITAR -->
    <div *ngIf="modalMode === 'edit'">
      <div class="flex flex-row flex-wrap gap-2 mb-3">
        <div>
          <label>Nombre</label>
          <input class="form-control" [(ngModel)]="selectedPaciente.nombrePaciente" />
        </div>
        <div>
          <label>Apellido</label>
          <input class="form-control" [(ngModel)]="selectedPaciente.apellidoPaciente" />
        </div>
        <div>
          <label>RUT</label>
          <input class="form-control" [(ngModel)]="selectedPaciente.rut" />
        </div>
        <div>
          <label>Dígito Verificador</label>
          <input class="form-control" [(ngModel)]="selectedPaciente.dv" />
        </div>
        <div>
          <label>Edad</label>
          <input class="form-control" [(ngModel)]="selectedPaciente.edad" />
        </div>
        <div>
          <label>Teléfono</label>
          <input class="form-control" [(ngModel)]="selectedPaciente.telefono" />
        </div>
      </div>
    </div>

    <!-- ELIMINAR -->
    <div *ngIf="modalMode === 'delete'">
      <p>
        ¿Estás seguro que deseas eliminar el paciente
        <strong>{{ selectedPaciente?.nombrePaciente }}</strong
        >?
      </p>
    </div>
  </app-modal>
</div>
