.header-container {
  background-color: var(--color-principal);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-acento);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand.app-title {
  color: var(--fondo-tarjeta);
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 15px;
}

.header-content {
  display: flex;
  align-items: center;
}

.btn-navegation {
  background-color: transparent !important;
  border: none !important;
  color: var(--fondo-tarjeta);
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn-navegation:hover {
  background-color: var(--color-secundario);
  color: var(--fondo-tarjeta);
}

.icon-header,
.icon-user {
  font-size: 1.5rem;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--color-secundario);
  color: var(--fondo-tarjeta);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-profile:hover {
  background-color: var(--color-acento);
  border-color: var(--color-acento);
  color: var(--color-principal);
}

.label-user {
  margin: 0 0 0 8px;
  font-weight: 500;
  cursor: pointer;
}
.dropdown-item {
  color: var(--color-principal);
  transition: background-color 0.1s;
}

.dropdown-item:hover {
  background-color: var(--fondo-pagina);
}

.dropdown-item a {
  color: inherit;
  text-decoration: none;
}
