<nav class="navbar navbar-expand-lg header-container">
  <div class="header-content">
    <i class="bi bi-file-earmark-medical icon-logo text-3xl text-white"></i>
    <a class="navbar-brand app-title" routerLink="/"> Portal Médico </a>
  </div>

  <div class="user-actions">
    <div ngbDropdown display="dynamic" class="flex navigation-dropdown">
      <button
        type="button"
        class="btn-navegation flex items-center"
        ngbDropdownToggle
        id="dropdownNav"
      >
        <div *ngIf="estaLogueado()" class="flex align-items-center mx-2">
          <i class="bi bi-person-circle icon-user"></i>
          <label class="label-user" id="userNameLabel">{{ sesion?.userName }}</label>
        </div>
        <i class="bi bi-list icon-header"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownNav">
        <button
          *ngFor="let option of filteredNavOptions"
          class="dropdown-item"
          type="button"
          (click)="executeAction(option)"
        >
          <a *ngIf="option.route" [routerLink]="option.route" class="nav-link-item">
            {{ option.label }}
          </a>

          <span *ngIf="!option.route">
            {{ option.label }}
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
