.perfil.container {
  padding-top: 2rem;
  color: white;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-card {
  border-radius: 16px;
  background-color: var(--dark-green);
  color: white;
}

.btn-change-photo {
  border-radius: 24px;
}
.card-header {
  background-color: var(--dark-green);
  border-radius: 16px 16px 0 0;
  padding: 10px;
  text-align: center;
}

.profile-form .card {
  background-color: var(--dark-green);
  color: white;
  border-radius: 0 0 16px 16px;
  padding: 10px;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 10px;
  grid-template-areas:
    "inputs-container inputs-container2"
    "button button";
  height: fit-content;
}

.inputs-container {
  grid-area: inputs-container;
}
.inputs-container2 {
  grid-area: inputs-container2;
}
.button {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.btn-guardar-cambios {
  width: fit-content;
  border-radius: 16px;
  background-color: black;
  color: white;
  border: none;
  border: 2px solid black;
  &:hover {
    background-color: white;
    color: black;
  }
}

.form-group {
  padding-bottom: 1rem;
}
.form-control {
  border-radius: 24px;
}
