@import 'tailwindcss';

:root {
  --color-principal: #1f1f1f; /* Texto principal oscuro */
  --color-secundario: #ff3c38; /* Color de acento (puede ser usado en botones, destacados) */
  --fondo: #f3f3f3; /* Fondo general de la página */
  --primary-green: #8a9869;
  --secondary-green: #a5b78c;
  --dark-green: #4a5a36;
  --primary-black: #0e0e0e;
  --primary-white: #fdfdfd;
  --primary-beige: #ead2b3;
}

main,
body {
  background-color: #8a9869 !important;
  color: var(--color-principal);
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding-bottom: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
