@import 'tailwindcss';

:root {
  /* Colores de Marca y Funcionales */
  --color-principal: #1c3b55; /* Azul Oscuro: Texto principal y Headers */
  --color-secundario: #447098; /* Azul Medio: Botones secundarios */
  --color-acento: #00a896; /* Verde Turquesa: Botones de Éxito/Acción */
  --color-peligro: #dc3545; /* Rojo: Eliminar/Error */

  /* Fondos y Neutros */
  --fondo-pagina: #f8f9fa; /* Gris Claro: Fondo del body */
  --fondo-tarjeta: #ffffff; /* Blanco: Fondo de componentes/tarjetas */
  --color-texto-ligero: #6c757d; /* Gris Oscuro: Texto de apoyo */
}

main,
body {
  background-color: var(--fondo-pagina) !important;
  color: var(--color-principal);
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding-bottom: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
