.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-login {
  width: 100px;
  border-radius: 100%;
}

.auth-card {
  width: 100%;
  height: fit-content;
  gap: 2rem;
  background-color: rgb(252, 252, 252, 0.2);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-card h2 {
  margin-top: 15px;
  font-family: 'casona';
}

.input {
  border-radius: 16px;
}

.toggle-password {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 10px;
  grid-template-areas:
    'inputs-container inputs-container2'
    'button button';
  height: fit-content;
}
.inputs-container {
  grid-area: inputs-container;
}
.inputs-container2 {
  grid-area: inputs-container2;
}
.button {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.form-group {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  border-radius: 16px;
}
.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}

.invalid-feedback {
  display: none;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.btn-register {
  width: fit-content;
  border-radius: 16px;
  background-color: black;
  color: white;
  border: none;
  &:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
}
.redirect {
  color: black;
}

@media (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
  }
}
